@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yomogi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yomogi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap');
body {
    background: #fff url(/assets/history/050721/background.jfif) center center/cover no-repeat;
}
#outer {
    width: 100%;
    text-align: center;
}
  
.inner {
    display: inline-block;
}
.wantedfont{
  font-family: 'Anton', sans-serif;
}
.namefont{
    font-family: 'Yomogi', cursive;
}
.border{
    border: 10px solid #000;
}
.descriptionfont{
    font-family: 'Yomogi', cursive;
}
.subtitlefont{
    font-family: 'Source Code Pro', monospace;
}