@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
body {
    background: #fff url(/assets/history/050721/background.jfif) center center/cover no-repeat;
}
#outer {
    width: 100%;
    text-align: center;
}
  
.inner {
    display: inline-block;
}
.wantedfont{
  font-family: 'Anton', sans-serif;
}